name: Test workflow
permissions:
  contents: write
  actions: write

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  CONFLUENCE_BASE_URL: "mock"
  CONFLUENCE_PAT: "mock"
  CONFLUENCE_SPACE_KEY: "mock"
  SONAR_BASE_URL: "mock"
  SONAR_PROJECT_KEY: "mock"
  SONAR_PROJECT_NAME: "mock"
  SONAR_TOKEN: "mock"

jobs:
  prepare_new_version:
    name: Prepare new version
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5
      with:
        persist-credentials: true
    
    - name: Prepare new version
      id: increment_tag
      run: |
        set -eo pipefail

        COMMIT_SHA=${{ github.sha }}
        COMMIT_MESSAGE=$(git show -s --format=%s $COMMIT_SHA)

        echo $COMMIT_MESSAGE

        [[ $COMMIT_MESSAGE =~ \#([0-9]+) ]] &&
        PR_NUMBER=${BASH_REMATCH[1]}

        if [[ $COMMIT_MESSAGE =~ ^Hotfix:\ .+$  ]]; then
          RELEASE_TYPE="hotfix"
        elif [[ $COMMIT_MESSAGE =~ ^Release\ v[0-9]+\.[0-9]+\.[0-9].*$ ]]; then
          RELEASE_TYPE="release"
          [[ $COMMIT_MESSAGE =~ v([0-9]+\.[0-9]+\.[0-9]+) ]] &&
          RELEASE_VERSION=${BASH_REMATCH[1]}
        else
            echo "No valid release commit message found. Exiting."
            exit 1
        fi

        echo PR_NUMBER: $PR_NUMBER
        echo RELEASE_TYPE: $RELEASE_TYPE
        echo RELEASE_VERSION: $RELEASE_VERSION

